doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

h1 Homepage  
  
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/client.js")